link(href="/javascripts/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
script(src="/javascripts/libs/jquery/dist/jquery.min.js")
script(src = "/javascripts/libs/bootstrap/dist/js/bootstrap.min.js")