<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script> -->
	<script src="../../../node_modules/socket.io/lib/socket.js"></script>
	<script src="webSocket/app/scripts/socket.js"></script>
	<script>
		// 创建Socket.IO实例，建立连接
		var socket= new io.Socket('localhost',{ 
		  port: 3000 
		}); 
		socket.connect(); 

		// 添加一个连接监听器
		socket.on('connect',function() { 
		  console.log('Client has connected to the server!'); 
		});

		// 添加一个连接监听器
		socket.on('message',function(data) { 
		  console.log('Received a message from the server!',data); 
		});

		// 添加一个关闭连接的监听器
		socket.on('disconnect',function() { 
		  console.log('The client has disconnected!'); 
		}); 

		// 通过Socket发送一条消息到服务器
		function sendMessageToServer(message) { 
		  socket.send(message); 
		}
	</script>
</head>
<body>
	
</body>
</html>